@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 375px;
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px #8883F0;
    border-radius: 2px;
    padding: 1px;
}
/* TELA INICIAL */
.nome{
    font-family: 'Righteous', cursive;
    background: linear-gradient(to bottom, #EF8481 1%, #8883F0 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
body{
    display: flex;
    align-items: start;
    flex-direction: column;

}
img{
    width: 150px;
    height: 150px;
    align-self: center;
}

.login{
    display: flex;
    border: solid 1px #8883F0;
    height: 60px;
    width: 210px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #EF8481;
    color: aliceblue;
}
.login:hover{
    display: flex;
    border: solid 1px #8883F0;
    height: 60px;
    width: 210px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ef8581d3;
    color: aliceblue;
}
.cadastrar{
    display: flex;
    border: solid 1px #8883F0;
    height: 60px;
    width: 210px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffffff;
    color:#8883F0;
    
}

.cadastrar:hover{
    display: flex;
    border: solid 1px #8883F0;
    height: 60px;
    width: 210px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffffff;
    color:#8883f0af;
}

.logo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 120px;
}

/* TELA DE LOGIN */
.container-logar{
    width: 375px;
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px #8883F0;
    border-radius: 2px;
    padding: 1px;
    font-family: 'Inter', sans-serif

}
a{
    color: #00BA88;
    font-weight: 700;
}
a:hover{
    color: #00BA88;
    font-weight: 700;
    text-decoration: underline;
}

.botao-entrar{
    display: flex;
    border: solid 1px #ef8581d3;
    height: 60px;
    width: 310px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ef8581d3;
    color:#ffffff;
    font-weight: 700;
}
.botao-entrar:hover{
    display: flex;
    border: solid 1px #ef8581d3;
    height: 60px;
    width: 310px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #e7a09dd3;
    color:#ffffff;
    font-weight: 700;
}

.entrar-nome{
    text-align: center;
    font-size: 30px;
    padding: 30%;

}
.input-box{
    /* padding-left: 60px; */
    border: solid 1px #b4afafd3;
    position: relative;
    outline: none;
    height: 60px;
    width: 310px;
    margin: 10px;
    border-radius: 50px;
    
}
.input-box input{
    border: 1px;
    position: relative;
    background: transparent;
    outline: none;
    height: 60px;
    width: 310px;
    border-radius: 50px;
    padding: 20px 45px 20px 20px;

}
.input-box input::placeholder{
    padding: 10px;
    color: #b6b6b6;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 40%;
    color: #8883F0;
}

.remember-forgot{
    display: flex;
    justify-content: space-around;
}

.registrar-link{
    display: flex;
    justify-content: space-around;
}

.cpf{
    padding-top: 20%;
    gap: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #8883F0;
}