@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.header {
    display: flex;
}

* {
    font-family: "Inter", sans-serif;
    padding: 0;
}

h1 {
    color: rgba(67, 44, 129, 1);
    justify-content: space-evenly;
    font-size: 25px;

}
p{
    color: #7B6BA8;
}
h2{
    color: #432C81;
    font-size: 2.5vh;
}

.text-container {
    flex-grow: 1;
    /* Expande para ocupar todo o espaço disponível */
    justify-content: space-evenly;


}

.notification {
    width: 375px;
    height: 872px;
    /* Largura da caixa de notificações */
    border: 1px solid #ccc;
    /* Borda da caixa de notificações */
    padding: 10px;
    justify-content: space-evenly;


}

/* Estilos para cada notificação */
.notification-card {
    margin-bottom: 10px;
    /* Espaço entre as notificações */
    display: flex;
    /* Alinhar verticalmente o ponto e o texto */
    border-radius: 5px;
    border: 2px solid rgba(237, 236, 244, 1);
    /* Adicionei uma borda preta de 2px  */

    background: #FFFFFF;
    /* Por exemplo, para branco */
    margin-top: 5%;
    width: 375px;
    height: 80px;
}

/* Estilos para os pontos coloridos */
/* Round */

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    /* Espaço entre o ponto e o texto */
    margin-left: 5px;
    /*  pontos para a propriedade margin-left */
    /* Correção na propriedade flex-grow */
    justify-content: space-evenly;
    gap: 0;
    margin-top: 2%;
    margin-right: 5%;
}

/* Cores dos pontos */
.dot-red {
    background-color: rgba(254, 198, 47, 1);
}

.dot-blue {
    background-color: rgba(112, 67, 207, 1);
}

.dot-orange {
    background-color: rgba(41, 201, 251, 1);
}

.dot-pink {
    background-color: rgba(254, 198, 47, 1);
}

/* Seletor para elementos .notification-card dentro de .notification-box */
.notification-box .notification-card {
    font-size: 17px;
    /*tamanho de fonte desejado, por exemplo, 14 pixels */
}

/* Seletor para elementos .notification-card dentro de .notification-box, mas com classe específica */
.notification-box .notification-card .text-container b {
    font-size: 17px;
    
}

/* Seletor para elementos .notification-card dentro de .notification-box, mas com classe específica */
.notification-box .notification-card .text-container p {
    font-size: 17px;
    /*tamanho de fonte diferente para os elementos <p> dentro do .text-container */
}