@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');
:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #EF8481;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    --tran-02:: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 375px;
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px #8883F0;
    border-radius: 2px;
    padding: 1px;
}
.container-menu {
    width: 375px;
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1px;
}


/* TELA INICIAL */
.nome {
    font-family: 'Righteous', cursive;
    background: linear-gradient(to bottom, #EF8481 1%, #8883F0 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
    display: flex;
    align-items: start;
    flex-direction: column;
    font-family: 'Sarala', cursive;

}
body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3A3B3C;
    --toggle-color: #ddd;
    --text-color: #CCC;
}

/* LOGO JUNO */
.logo-rotativa {
    width: 150px;
    height: 150px;
    align-self: center;
    /* nesta parte esta sendo determinada a velocidade da rotação */
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    /* caso queiram alterar qnt menor o tempo mais rapido ela completa a rotação */
}

/* usando keyframes para a rotação */
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.login {
    display: flex;
    border: solid 1px #8883F0;
    height: 60px;
    width: 210px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #EF8481;
    color: aliceblue;
}

.login:hover {
    display: flex;
    border: solid 1px #8883F0;
    height: 60px;
    width: 210px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ef8581d3;
    color: aliceblue;
}

.cadastrar {
    display: flex;
    border: solid 1px #8883F0;
    height: 60px;
    width: 210px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #8883F0;

}

.cadastrar:hover {
    display: flex;
    border: solid 1px #8883F0;
    height: 60px;
    width: 210px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #8883f0af;
}

.logo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 120px;

}

#logo-estatica {
    width: 150px;
    height: 150px;
    align-self: center;
}

/* TELA DE LOGIN */
.container-logar {
    width: 375px;
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px #8883F0;
    border-radius: 2px;
    padding: 1px;
    font-family: 'Inter', sans-serif
}

a {
    color: #00BA88;
    font-weight: 700;
}

a:hover {
    color: #00BA88;
    font-weight: 700;
    text-decoration: underline;
}

.botao-entrar {
    display: flex;
    border: solid 1px #ef8581d3;
    height: 60px;
    width: 310px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ef8581d3;
    color: #ffffff;
    font-weight: 700;
}

.botao-entrar:hover {
    display: flex;
    border: solid 1px #ef8581d3;
    height: 60px;
    width: 310px;
    margin: 10px;
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #e7a09dd3;
    color: #ffffff;
    font-weight: 700;
}

.entrar-nome {
    text-align: center;
    font-size: 30px;
    padding: 30%;

}

.input-box {
    /* padding-left: 60px; */
    border: solid 1px #b4afafd3;
    position: relative;
    outline: none;
    height: 60px;
    width: 310px;
    margin: 10px;
    border-radius: 50px;

}

.input-box input {
    border: 1px;
    position: relative;
    background: transparent;
    outline: none;
    height: 60px;
    width: 310px;
    border-radius: 50px;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    padding: 10px;
    color: #b6b6b6;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 40%;
    color: #8883F0;
}

.remember-forgot {
    display: flex;
    justify-content: space-around;
}

.registrar-link {
    display: flex;
    justify-content: space-around;
}

.cpf {
    padding-top: 20%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8883F0;
}

/* TELA DE CADASTRO */
.container-cadastrar {
    width: 375px;
    height: 812px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px #8883F0;
    border-radius: 2px;
    padding: 1px;
    font-family: 'Inter', sans-serif
}

.input-box-cadastrar {
    /* padding-left: 60px; */
    border: solid 1px #b4afafd3;
    position: relative;
    outline: none;
    height: 60px;
    width: 310px;
    margin: 10px;
    border-radius: 50px;

}

.input-box-cadastrar input {
    border: 1px;
    position: relative;
    background: transparent;
    outline: none;
    height: 60px;
    width: 310px;
    border-radius: 50px;
    padding: 20px 45px 20px 20px;

}

.container-cadastrar i {
    color: #8883F0;
    position: absolute;
    right: 20px;
    top: 40%;
}

.entrar-link {
    display: flex;
    justify-content: space-around;
}

.cadastrar-titulo {
    text-align: center;
    font-size: 30px;
}

.cadastrar-nome {
    text-align: center;
    font-size: 20px;
    padding: 10%;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
}
.sidebar.close{
    width: 88px;

}
.sidebar.close .text{
    opacity: 0;
    
}
.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;

}
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
.sidebar header{
    position: relative;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .icon, .sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 600;
}
.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}
.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.sidebar li a:hover{
    background: var(--primary-color);
}
.sidebar li a:hover .icon, .sidebar li a:hover .text{
   color: var(--sidebar-color);
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
}
.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}
.menu-bar .mode i
{
    position: absolute
}
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i.sun{
    opacity: 0;
}
.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    background: var(--primary-color-light);
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    cursor: pointer;
    transition: var(--tran-03);
}
body.dark .switch::before{
    left: 25px;
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}